<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">RentalCarWeb</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Car</a></li>
            <li><a href="Brand">Brand</a></li>
            <li><a href="Color">Color</a></li>
            <li><a href="CarImage">CarImage</a></li>
            <li><a href="Customer">Customer</a></li>
            <li><a href="Rental">Rental</a></li>
            <li><a href="/Security/Logout">Logout</a></li>
        </ul>
    </div>
</nav>
