@model List<RentalCarMvcProject.Models.EntityFramework.Colors>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-success" href="/Color/Yeni">NewColor</a>
<table class="table table-bordered" style="background-color:darkgrey" >
    <thead>
        <tr>
            <th>ColorId</th>
            <th>ColorName</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var color in Model)
        {
            <tr>
                <td>@color.ColorId</td>
                <td>@color.ColorName</td>
                <td><a class="btn btn-primary" href="/Color/Update/@color.ColorId">Update</a></td>
                <td><a class="btn btn-warning "href="/Color/Update/@color.ColorId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

